* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --lipstick: #e8222e;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
=============== HomePage
*/

.Container {
  border: solid 1px gray;
  width: 22.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchInput {
  width: 20.5rem;
  height: 3.5rem;
  border-radius: 2px;
  border: solid 1px #b8b8b8;
  margin-bottom: 1rem;
}

::placeholder {
  padding: 2.5rem;
}

.Filter {
  margin: 1rem;
}

.Filter:hover {
  color: var(--lipstick);
}

.Card {
  border: solid 1px #b8b8b8;
  width: 20.5rem;
  height: 11.75rem;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1rem;
}

img {
  width: 20.5rem;
  height: 7.5rem;
  object-fit: contain;
}

.Restaurant {
  width: 18.5rem;
  height: 1.125rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.39px;

  margin: 0.75rem 1rem 0.25rem;
  text-align: left;
  color: var(--lipstick);
}

.CardFooter {
  display: flex;
  align-items: flex-end;
}

.Time-to-deliver {
  width: 9.25rem;
  height: 1.125rem;
  font-size: 1rem;
  letter-spacing: -0.39px;

  margin: 0 1rem 1rem 1rem;
  text-align: left;
  color: #b8b8b8;
}

.Shipping-fee {
  width: 8.75rem;
  height: 1.125rem;
  font-size: 1rem;
  letter-spacing: -0.39px;

  margin: 0 1rem 1rem 1rem;
  text-align: right;
  color: #b8b8b8;
}
